<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EgsEcfEditorApp.Properties.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EgsEcfEditorApp.Properties.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EgsEcfEditorApp.Properties.InternalSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EgsEcfEditorApp.Properties.WindowSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EgsEcfEditorApp.Properties.Internal" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EgsEcfEditorApp.Properties.User" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EgsEcfEditorApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2" />
	</System.Windows.Forms.ApplicationConfigurationSection>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <EgsEcfEditorApp.Properties.AppSettings>
            <setting name="EgsEcfEditorApp_LastVisitedDirectory" serializeAs="String">
                <value />
            </setting>
        </EgsEcfEditorApp.Properties.AppSettings>
        <EgsEcfEditorApp.Properties.UserSettings>
            <setting name="EgsEcfControls_TreeViewSorterInitCount" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="EgsEcfControls_ParameterViewSorterInitCount" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="EgsEcfControls_ErrorViewSorterInitCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="EgsEcfEditorApp_FileCreation_InvalidateParentsOnError"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EgsEcfEditorApp_FileCreation_WriteOnlyValidItems"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EgsEcfControls_TreeViewFilterCommentsInitActive"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EgsEcfControls_TreeViewFilterParametersInitActive"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EgsEcfControls_TreeViewFilterDataBlocksInitActive"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EgsEcfEditorApp_ActiveGameMode" serializeAs="String">
                <value>Vanilla</value>
            </setting>
            <setting name="EgsEcfEditorApp_FileCreation_AllowFallbackToParsedData"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EcfTechTreeDialog_ParameterKey_UnlockLevel" serializeAs="String">
                <value>UnlockLevel</value>
            </setting>
            <setting name="EcfTechTreeDialog_ParameterKey_UnlockCost" serializeAs="String">
                <value>UnlockCost</value>
            </setting>
            <setting name="EcfTechTreeDialog_ParameterKey_TechTreeNames"
                serializeAs="String">
                <value>TechTreeNames</value>
            </setting>
            <setting name="EcfTechTreeDialog_ParameterKey_TechTreeParentName"
                serializeAs="String">
                <value>TechTreeParent</value>
            </setting>
            <setting name="EcfTechTreeDialog_DefaultValue_UnlockLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EcfTechTreeDialog_DefaultValue_UnlockCost" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ItemHandlingSupport_ParameterKey_TemplateName"
                serializeAs="String">
                <value>TemplateRoot</value>
            </setting>
            <setting name="ItemHandlingSupport_DefaultValue_DefinitionIsOptional"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ItemHandlingSupport_DefaultValue_DefinitionHasValue"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ItemHandlingSupport_DefaultValue_DefinitionIsAllowingBlank"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ItemHandlingSupport_DefaultValue_DefinitionIsForceEscaped"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ItemHandlingSupport_DefaultValue_DefinitionInfo"
                serializeAs="String">
                <value>Tool-Added</value>
            </setting>
            <setting name="ItemHandlingSupport_ParameterKey_Blocks" serializeAs="String">
                <value>Blocks</value>
            </setting>
        </EgsEcfEditorApp.Properties.UserSettings>
        <EgsEcfEditorApp.Properties.InternalSettings>
            <setting name="EgsEcfEditorApp_FileHandling_FileDialogFilter"
                serializeAs="String">
                <value>EgsEcfFile|*.ecf</value>
            </setting>
            <setting name="EgsEcfEditorApp_FileHandling_FileDialogExtension"
                serializeAs="String">
                <value>ecf</value>
            </setting>
            <setting name="EgsEcfEditorApp_FileHandling_EGSConfigDirectory"
                serializeAs="String">
                <value>Content\Configuration</value>
            </setting>
            <setting name="EgsEcfEditorApp_EGSSteamAppId" serializeAs="String">
                <value>383120</value>
            </setting>
            <setting name="EgsEcfEditorApp_FileHandling_SteamAppsFolderName"
                serializeAs="String">
                <value>SteamApps</value>
            </setting>
            <setting name="EgsEcfEditorApp_FileHandling_InstallPathRegistryValue"
                serializeAs="String">
                <value>InstallPath</value>
            </setting>
            <setting name="EgsEcfEditorApp_FileHandling_SteamRegistryKey32"
                serializeAs="String">
                <value>HKEY_LOCAL_MACHINE\SOFTWARE\Valve\Steam</value>
            </setting>
            <setting name="EgsEcfEditorApp_FileHandling_SteamRegistryKey64"
                serializeAs="String">
                <value>HKEY_LOCAL_MACHINE\SOFTWARE\Wow6432Node\Valve\Steam</value>
            </setting>
            <setting name="EgsEcfEditorApp_FileHandling_SteamAppManifestFileExtension"
                serializeAs="String">
                <value>acf</value>
            </setting>
            <setting name="EgsEcfEditorApp_FileHandling_SteamLibraryConfigFileName"
                serializeAs="String">
                <value>libraryfolders.vdf</value>
            </setting>
            <setting name="EgsEcfEditorApp_FileHandling_AppRootPathSteamConfigKey"
                serializeAs="String">
                <value>path</value>
            </setting>
            <setting name="EgsEcfEditorApp_FileHandling_AppPathSteamConfigKey"
                serializeAs="String">
                <value>installdir</value>
            </setting>
            <setting name="EgsEcfEditorApp_FileHandling_SteamCommonFolderName"
                serializeAs="String">
                <value>common</value>
            </setting>
            <setting name="EgsEcfEditorApp_FileHandling_DefinitionDefaultBaseFolder"
                serializeAs="String">
                <value>EcfFileDefinitions</value>
            </setting>
            <setting name="EgsEcfEditorApp_FileHandling_DefinitionTemplateFileName"
                serializeAs="String">
                <value>VanillaEcfDefinition_BlocksConfig.xml</value>
            </setting>
            <setting name="EgsEcfEditorApp_ParameterDisplay_ValueSeperator"
                serializeAs="String">
                <value>, </value>
            </setting>
            <setting name="EgsEcfEditorApp_ParameterDisplay_GroupSeperator"
                serializeAs="String">
                <value>: </value>
            </setting>
            <setting name="EgsEcfEditorApp_ParameterDisplay_ValuesPendingIndicator"
                serializeAs="String">
                <value>...</value>
            </setting>
            <setting name="EgsEcfEditorApp_ParameterDisplay_ValueMaxCount"
                serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="EgsEcfEditorApp_ParameterDisplay_GroupMaxCount"
                serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="EgsEcfEditorApp_ParameterDisplay_ValueMaxLenght"
                serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="EcfFileCAMDialog_PageSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="EgsEcfEditorApp_ParameterHandling_UnlockLevelMaxValue"
                serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="EgsEcfEditorApp_ParameterHandling_UnlockLevelMinValue"
                serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EgsEcfEditorApp_ParameterHandling_UnlockCostMaxValue"
                serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="EgsEcfEditorApp_ParameterHandling_UnlockCostMinValue"
                serializeAs="String">
                <value>0</value>
            </setting>
        </EgsEcfEditorApp.Properties.InternalSettings>
        <EgsEcfEditorApp.Properties.WindowSettings>
            <setting name="EgsEcfControls_TreeViewInitWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="EgsEcfControls_InfoViewInitWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="EgsEcfControls_ErrorViewInitHeight" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="EgsEcfEditorApp_Width" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="EgsEcfEditorApp_Height" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="EgsEcfEditorApp_X" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="EgsEcfEditorApp_Y" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="EgsEcfEditorApp_WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </EgsEcfEditorApp.Properties.WindowSettings>
        <EgsEcfEditorApp.Properties.Internal>
            <setting name="EgsEcfEditorApp_Filter_EgsEcfFile" serializeAs="String">
                <value>EgsEcfFile|*.ecf</value>
            </setting>
            <setting name="EgsEcfEditorApp_Extension_EgsConfigFile" serializeAs="String">
                <value>ecf</value>
            </setting>
            <setting name="EgsEcfEditorApp_Directory_FileDialog_Last" serializeAs="String">
                <value />
            </setting>
            <setting name="EgsEcfEditorApp_Directory_EgsConfig" serializeAs="String">
                <value>Content\Configuration</value>
            </setting>
            <setting name="EgsEcfEditorApp_SteamAppId_Egs" serializeAs="String">
                <value>383120</value>
            </setting>
            <setting name="EgsEcfEditorApp_FolderName_SteamApps" serializeAs="String">
                <value>SteamApps</value>
            </setting>
            <setting name="EgsEcfEditorApp_RegistryValue_InstallPath" serializeAs="String">
                <value>InstallPath</value>
            </setting>
            <setting name="EgsEcfEditorApp_RegistryKey32_Steam" serializeAs="String">
                <value>HKEY_LOCAL_MACHINE\SOFTWARE\Valve\Steam</value>
            </setting>
            <setting name="EgsEcfEditorApp_RegistryKey64_Steam" serializeAs="String">
                <value>HKEY_LOCAL_MACHINE\SOFTWARE\Wow6432Node\Valve\Steam</value>
            </setting>
            <setting name="EgsEcfEditorApp_Extension_SteamAppManifestFile"
                serializeAs="String">
                <value>acf</value>
            </setting>
            <setting name="EgsEcfEditorApp_FileName_SteamLibraryConfig" serializeAs="String">
                <value>libraryfolders.vdf</value>
            </setting>
            <setting name="EgsEcfEditorApp_SteamConfigKey_AppRootPath" serializeAs="String">
                <value>path</value>
            </setting>
            <setting name="EgsEcfEditorApp_SteamConfigKey_AppPath" serializeAs="String">
                <value>installdir</value>
            </setting>
            <setting name="EgsEcfEditorApp_FolderName_SteamCommon" serializeAs="String">
                <value>common</value>
            </setting>
            <setting name="EgsEcfControls_TreeViewInitWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="EgsEcfControls_InfoViewInitWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="EgsEcfControls_ErrorViewInitHeight" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="EgsEcfEditorApp_Width" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="EgsEcfEditorApp_Height" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="EgsEcfEditorApp_X" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="EgsEcfEditorApp_Y" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="EgsEcfEditorApp_DefaultBaseFolder" serializeAs="String">
                <value>EcfFileDefinitions</value>
            </setting>
            <setting name="EgsEcfEditorApp_DefaultGameVersionFolder" serializeAs="String">
                <value>Vanilla</value>
            </setting>
            <setting name="EgsEcfEditorApp_TemplateFileName" serializeAs="String">
                <value>VanillaEcfDefinition_BlocksConfig.xml</value>
            </setting>
        </EgsEcfEditorApp.Properties.Internal>
        <EgsEcfEditorApp.Properties.User>
            <setting name="EgsEcfControls_TreeViewSorterInitCount" serializeAs="String">
                <value>TwentyFive</value>
            </setting>
            <setting name="EgsEcfControls_ParameterViewSorterInitCount" serializeAs="String">
                <value>Fifty</value>
            </setting>
            <setting name="EgsEcfControls_ErrorViewSorterInitCount" serializeAs="String">
                <value>Ten</value>
            </setting>
            <setting name="EgsEcfEditorApp_FileWriting_InheritError" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EgsEcfEditorApp_FileWriting_OnlyValid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EgsEcfControls_TreeViewFilterCommentsInitActive"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EgsEcfControls_TreeViewFilterParametersInitActive"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EgsEcfControls_TreeViewFilterDataBlocksInitActive"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EgsEcfEditorApp_ActiveGameVersionFolder" serializeAs="String">
                <value>Vanilla</value>
            </setting>
        </EgsEcfEditorApp.Properties.User>
        <EgsEcfEditorApp.Properties.Settings>
            <setting name="EgsEcfEditorApp_Filter_EgsEcfFile" serializeAs="String">
                <value>EgsEcfFile|*.ecf</value>
            </setting>
            <setting name="EgsEcfEditorApp_Extension_EgsConfigFile" serializeAs="String">
                <value>ecf</value>
            </setting>
            <setting name="EgsEcfEditorApp_Directory_FileDialog_Last" serializeAs="String">
                <value />
            </setting>
            <setting name="EgsEcfEditorApp_Directory_EgsConfig" serializeAs="String">
                <value>Content\Configuration</value>
            </setting>
            <setting name="EgsEcfEditorApp_SteamAppId_Egs" serializeAs="String">
                <value>383120</value>
            </setting>
            <setting name="EgsEcfEditorApp_FolderName_SteamApps" serializeAs="String">
                <value>SteamApps</value>
            </setting>
            <setting name="EgsEcfEditorApp_RegistryValue_InstallPath" serializeAs="String">
                <value>InstallPath</value>
            </setting>
            <setting name="EgsEcfEditorApp_RegistryKey32_Steam" serializeAs="String">
                <value>HKEY_LOCAL_MACHINE\SOFTWARE\Valve\Steam</value>
            </setting>
            <setting name="EgsEcfEditorApp_RegistryKey64_Steam" serializeAs="String">
                <value>HKEY_LOCAL_MACHINE\SOFTWARE\Wow6432Node\Valve\Steam</value>
            </setting>
            <setting name="EgsEcfEditorApp_Extension_SteamAppManifestFile"
                serializeAs="String">
                <value>acf</value>
            </setting>
            <setting name="EgsEcfEditorApp_FileName_SteamLibraryConfig" serializeAs="String">
                <value>libraryfolders.vdf</value>
            </setting>
            <setting name="EgsEcfEditorApp_SteamConfigKey_AppRootPath" serializeAs="String">
                <value>path</value>
            </setting>
            <setting name="EgsEcfEditorApp_SteamConfigKey_AppPath" serializeAs="String">
                <value>installdir</value>
            </setting>
            <setting name="FolderName_SteamCommon" serializeAs="String">
                <value>common</value>
            </setting>
            <setting name="EgsEcfControls_TreeViewInitWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="EgsEcfControls_InfoViewInitWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="EgsEcfControls_ErrorViewInitHeight" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="EgsEcfEditorApp_Width" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="EgsEcfEditorApp_Height" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="EgsEcfEditorApp_X" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="EgsEcfEditorApp_Y" serializeAs="String">
                <value>100</value>
            </setting>
        </EgsEcfEditorApp.Properties.Settings>
    </userSettings>
</configuration>